<!--Creación de formulario por TRubilarP-->

<h3 class="text-center m-5">Formulario creación de Proyectos - FCP</h3>

<!--Comienzo Formulario-->
<form method="get" action="/proyects/create" class="container border border-success p-5 bg-white rounded" id="create_posts">

<!--Row campo Nombre Proyecto-->
  <div class="form-group row">
    <label for="nameProyect" class="col-sm-4 col-form-label">Nombre Proyecto</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nameProject" aria-describedby="namelHelp" name="name" placeholder="Ingrese Nombre de Proyecto" >
      <small id="namelHelp" class="form-text text-muted">Campo obligatorio</small>
    </div>
  </div>
<!--Fin Row campo Nombre Proyecto-->

<!--Row campo Descripción-->
  <div class="form-group row">
    <label for="descriptionProyect" class="col-sm-4 col-form-label">Descripción</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="descriptionProyect" aria-describedby="descriptionlHelp" name="description" placeholder="Descripción del Proyecto" >
      <small id="descriptionlHelp" class="form-text text-muted">Campo obligatorio</small>
    </div>
  </div>
<!--Fin Row campo Descripción-->

<!--Row campo Fecha Comienzo Proyecto-->
  <div class="form-group row">
    <label for="startDate" class="col-sm-4 col-form-label">Fecha Comienzo Proyecto</label>
    <div class="col-sm-10">
      <input type="date" id="startDate" aria-describedby="startDatelHelp" name="start_date"step="1" min="<%= Time.now.strftime("%Y-%m-%d") %>" max="2050-12-31" value="<%= Time.now.strftime("%Y-%m-%d") %>"> 
      <small id="startDatelHelp" class="form-text text-muted">Ingresar Fecha de Inicio del Proyecto</small>
    </div>
  </div>
<!--Fin Row campo Fecha Comienzo Proyecto-->

<!--Row campo Fecha Fin Proyecto-->
  <div class="form-group row">
    <label for="endDate" class="col-sm-4 col-form-label">Fecha Fin Proyecto</label>
    <div class="col-sm-10">
      <input type="date" id="endDate" aria-describedby="endDatelHelp" name="end_date"step="1" min="<%= Time.now.strftime("%Y-%m-%d") %>" max="2050-12-31" value="<%= Time.now.strftime("%Y-%m-%d") %>"> 
      <small id="endDatelHelp" class="form-text text-muted">Ingresar Fecha de Finalización del Proyecto</small>
    </div>
  </div>
<!--Fin Row campo Fecha Fin Proyecto-->

<!--Row campo Estados del Proyecto-->
  <fieldset class="form-group">
    <div class="row">
      <label for="stateProject" class="col-form-label col-sm-2 pt-4">Estado del Proyecto</label>
      <div class="col-sm-10">
    <!--Comienzo radios check estado Propuesta-->
        <div class="form-check">
          <input class="form-check-input" type="radio" name="state" id="stateProject1" value="Propuesta">
          <label class="form-check-label" for="gridRadios1">
            Propuesta
          </label>
        </div>
    <!--Fin radios check estado Propuesta-->

    <!--Comienzo radios check estado En Progreso-->
        <div class="form-check">
          <input class="form-check-input" type="radio" name="state" id="stateProject2" value="En Progreso">
          <label class="form-check-label" for="gridRadios2">
            En Progreso 
          </label>
        </div>
    <!--Fin radios check estado En Progreso-->

    <!--Comienzo radios check estado Terminado-->
        <div class="form-check">
          <input class="form-check-input" type="radio" name="state" id="stateProject3" value="Terminado">
          <label class="form-check-label" for="gridRadios3">
            Terminado
          </label>
        </div>
    <!--Fin radios check estado Terminado-->
      </div>
    </div>
<!--Fin Row campo Estados del Proyecto-->

<!--Comienzo botón Crear Proyecto-->
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Crear Proyecto</button>
    </div>
  </div>
<!--Fin botón Crear Proyecto-->

</form>
<!--Fin formulario-->
